<%# Show the Quick Weather Check address form and output %>
<%# Instance variables: @address and @weather %>
<header>
  <h1><%= t('weather_info.heading') %></h1>
</header>

<% flash.each do |type, msg| %>
  <div class="notice">
    <%= msg %>
  </div>
<% end %>

<%= form_with(method: 'get', local: true) do %>
    <%= label :address, t('weather_info.labels.address') %><br>
    <%= text_field_tag(:address, @address, size: 70) %><br>
    <%= submit_tag(t('weather_info.labels.submit')) %>
<% end %>

<% if defined?(@weather) %>
  <div><%= t('weather_info.labels.current_temp', temp: @weather[:temp]) %> ℉</div>
  <div><%= t('weather_info.labels.min_temp', temp: @weather[:temp_min]) %> ℉</div>
  <div><%= t('weather_info.labels.max_temp', temp: @weather[:temp_max]) %> ℉</div>
  <div class="notice">
    <%= show_cache_message(@weather[:cached]) %>
  </div>
<% end %>
